body{
    background: url(/img/decoracion-eventos-2.jpg);
    background-size: cover;
    background-position: center;
    
}

h1{
    text-align: center;
    color: rgb(116, 45, 5);
    font-family: cursive;
    text-decoration: underline;

}
h3{
    color: rgb(252, 153, 6);
    font-size: 200%;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: #F8D362 6px 6px 6px;
  text-transform: uppercase;
  font-family: cursive;
  text-decoration: underline;
}